body {
	font-size: 15px;
	font-family: "Inter", "Lexend Deca";
	background-color: #090b1a;
	padding: 10%;
	margin: 0%;
}

.card {
	background-color: #1b1938;
	border-radius: 20px;
	margin: auto auto;
	overflow: hidden;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	filter: brightness(50%) contrast(70%) sepia(50%) saturate(1000%)
		hue-rotate(235deg);
}

#content {
	grid-row-start: 1;
	padding: 20px;
}

span {
	color: #aa5cdb;
}

#description {
	color: #ffffffbf;
}

#stats {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 10px;
}

#column p {
	color: #ffffff99;
}

h1,
h2 {
	color: #ffffff;
}

@media only screen and (max-width: 600px) {
	body {
		text-align: center;
	}
	img {
		content: url("images/image-header-mobile.jpg");
	}
	.card {
		grid-template-columns: 1fr;
	}
	#stats {
		grid-template-columns: 1fr;
		grid-gap: 0px;
	}
	#content {
		padding: 2vw;
		grid-row-start: 2;
	}
}

@media (prefers-color-scheme: light) {
	body {
		background-color: #eeeeee;
	}
	.card {
		background-color: #ffffff;
	}
	span {
		color: #b338ff;
	}
	#column p {
		color: #00000099;
	}
	#description {
		color: #000000bf;
	}
	h1,
	h2 {
		color: #000000;
	}
}
